{% extends "::base.html.twig" %}

{% block title %}AppBundle:User:edit{% endblock %}

{% block body %}
<h1>Welcome to the User:edit page</h1>


    {{ form(form) }}



    <hr/>
    <a href="{{ path("user_index") }}">User index</a>

{% endblock %}
