{% extends "::base.html.twig" %}

{% block title %}AppBundle:User:index{% endblock %}

{% block body %}
<h1>Welcome to the User:index page</h1>


    <table>



        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td><a href="{{ path("user_edit", {user_id: user.id}) }}">Edit</a></td>
            </tr>

        {% endfor %}

    </table>

{% endblock %}
